body {
  margin: 0;
  min-width: 300px;
  /*padding: 5px 0;*/

  width: 300px;
  border: 1px solid;
}

label,
select,
input[type="checkbox"] {
  cursor: pointer;
}

header {
  border-bottom: 1px solid #aaa;
  /*padding-bottom: 5px;*/
  padding: 10px;
}

header h2 {
  /*margin-top: 0;*/
  margin: 0;
  text-align: center;
}

.content {
  padding: 10px 0 0;
}

.content h3 {
  border-bottom: 1px solid #eee;
  line-height: 1;
  margin: 0;
  padding: 0 10px 10px;
}

.content section {
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.content section:last-child {
  border-bottom: 0 solid transparent;
}

.content section label {
  display: block;
  line-height: 1.4;
  margin-bottom: 5px;
}

.content section label:last-child {
  margin-bottom: 0;
}

.content section select {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.content section select:last-child {
  margin-bottom: 0;
}

.content section label input {
  margin: 0 0 0 5px;
  vertical-align: bottom;
}

footer {
  border-top: 1px solid #aaa;
  /*padding-top: 5px;*/
}

footer a {
  color: initial;
  display: block;
  line-height: 2;
  padding: 3px 10px;
  text-decoration: none;
}

footer a:hover {
  background-color: #ddd;
}