body {
  margin: 0;
  min-width: 200px;
  /*padding: 5px 0;*/
}

table,
.user-player {
  padding: 10px;
}

label,
select,
input[type="checkbox"] {
  cursor: pointer;
}

table {
  border-spacing: 0;
  line-height: 1;
  /*margin-bottom: 5px;*/
  /*padding: 0 10px;*/
  width: 100%;
}

tr td {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  vertical-align: bottom;
}

tr:last-child td {
  border-bottom: 0 solid transparent;
}

tr td:last-child {
  text-align: right;
}

.user-player,
footer {
  border-top: 1px solid #aaa;
}

.user-player {
  /*padding: 5px 10px;*/
}

.user-player select {
  margin-bottom: 10px;
  width: 100%;
}

.user-player label input {
  margin: 0 0 0 5px;
  vertical-align: bottom;
}

footer {
  /*padding-top: 5px;*/
}

footer a {
  color: initial;
  display: block;
  line-height: 2;
  padding: 3px 10px;
  text-decoration: none;
}

footer a:hover {
  background-color: #ddd;
}